body {
    background-color: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
    background-image: url("./img/bg-pattern-top.svg"), url("./img/bg-pattern-bottom.svg");
    background-position: top -550px left -400px, top 400px left 545px;
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}


.container {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.card {
    background-color: white;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    background-image: url("./img/bg-pattern-card.svg");
    background-repeat: no-repeat;
    display: grid;
}

.card-image {
    background-color: white;
    background-image: url("./img/image-victor.jpg");
    background-repeat: no-repeat;
    position: absolute;
    border: 5px solid white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: calc(50% - 52px);
    margin-top: 90px;
}

.card-body {
    text-align: center;
    position: relative;
    top: 190px;
}

.card-body span {
    color: hsl(227, 10%, 46%);
    font-weight: lighter;
    margin-left: 10px;
}

.card-body h4 {
    color: hsl(227, 10%, 46%);
    font-weight: lighter;
    margin: 0;
}

.card-footer {
    border-top: 1px solid hsla(0, 0%, 83.9%, 0.49);
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: 120px;
    padding: 10px 40px 0 40px;
}

.card-footer h3 {
    font-size: 1.15rem;
}

.card-footer span {
    color: hsl(227, 10%, 46%);
    position: relative;
    bottom: 12px;
    font-weight: 400;
    font-size: 12px;
}